* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

#root {
  margin: 20px auto;
  width: 50%;
  background-image: "./assets/background.jpeg" center no-repeat;
  background-color: red;
}
